/*
 * Globals
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
 * Base structure
 */

/*
 * Header
 */

.banner-wrap {
  /* feel free to use your own img  */
  background-image: url(../Assets/Dave\ Cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}
.overlay {
  z-index: -1;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 50%;
  position: absolute;
  top: 0;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.scrolling {
  background: black;
  opacity: 60%;
  transition: all 0.5s;
}

/* CSS-only typing animation */
.typed-css {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid white;
  white-space: nowrap;
  animation: typing 4s steps(40, end) 1s 1 normal both, 
             blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { 
    width: 0;
  }
  to { 
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to { 
    border-color: transparent;
  }
  50% { 
    border-color: white;
  }
}

